.big-green-container{
	background-color:  rgba(150, 238, 150, 0.75);
	border: 4px solid green;
	padding: 16px;
	margin: 4px;
  align-content: center;


}
.container {
	background-color: lightblue;
	padding: 16px;
	border: 4px solid blue;
	margin: 8px;
	display: flex;
	column-gap: 10px;
	
}

.item {
	background: peachpuff;
	border: 4px solid salmon;
	height: 48px;
	flex: 1;
	padding: 4px;
}

#container-inside {
	display: flex;
	align-items: center;
}

.item .inside {
	background-color: pink;
	border: 4px solid red;
	height: 75%;
	padding: 4px;
	flex: 1;
}
.invisible-container{
	display: flex;
  gap: 5px;
	padding: 8px;
	
}
.big-red-item{
	background:  #fabbbb;
	border:4px solid red;
	flex:1;
}
.invisible-containers{
	display: flex;
	flex:1;
	padding: 8px;
	gap :30px;
	flex-direction: column;

}

.red{
	background: #fabbbb;
	border:4px solid red;
	height: 150px;
	
	
}
.secundo-container{
	background-color: lightblue;
	border: 4px solid blue;
	padding: 8px 10px;
	margin: 8px;
	display: flex;
	align-items: center;
	
	
}
.purple-item{
	background-color:  #e2deff;
	border: 4px solid #6a5acd;
	height: 68px;
  flex:1;
	padding: 16px;
}
.the-other-container{
	display: flex;
	gap: 5px;
	margin: 8px;
  flex:1;
}
.little-item{
	background: peachpuff;
	border: 4px solid salmon;
	height: 68px;
	padding: 16px;
	flex:1;

}